<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>AdoptApply</title>
</head>

<body>
<div class="container">
    <div class="jumbotron text-center" >
        <h1>Hello , welcome back to animal home</h1>
        <p>here you can see many kinds of animals </p>
        <button type="button" class="btn btn-default"onclick="location.href='/HomePage'" > Home </button>
        <button type="button" class="btn btn-default"onclick="location.href='/SearchAnimal'">Search</button>
        <button type="button" class="btn btn-default"onclick="location.href='/Animal'">Animal</button>
        <button type="button" class="btn btn-default" onclick="location.href='/AddAnimal'">Add Animal</button>
        <button type="button" class="btn btn-default text-info" onclick="location.href='/AdoptApply'">Adopt</button>

    </div>
</div>

<div class="container text-center"style="margin-top: 10%">
    <div class="m-auto" >
        <h2> Your application form has been recorded,</h2>
      <br>
        <h2> Thank you for kindness ！！</h2>

    </div>
    <button type="button" class="btn btn-default text-info" style="float: right "  onclick="location.href='/HomePage'" > Click here back to home page</button>
</div>
</body>